body {
  background-color: white;
  font-family: sans-serif;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.globalnavbar{
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  background: #white;
  list-style-type: none;
  text-align: right;
  overflow: auto;
  align-items: center;

}

.globalnavbar a{
  display: inline-block;
  font-size: 20px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  opacity: 1;
  color: #4d4d4d;

}

.globalnavbar a:hover {
    transition: 0.3s;
    opacity: 0.6;
    color: 00ffcc;
}

.globalnavbar #logo {
  font-size: 50px;
  padding: 20px;
  position: absolute;
  text-align: left;
  width: auto;
  align-self: flex-start;
}

.quote{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  height: 100vh;
}

.jobtitle{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  text-align: center;
}

.homepage-section-aboutme{
  width: 100%;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;

}

.homepage-section-aboutme .profilepic{
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  clear: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homepage-section-aboutme .name{
  text-align: center;
}

.homepage-section-aboutme .profiledescription{
  text-align: center;
  display: inherit;
  margin-left: inherit;
  margin-right: inherit;
}

.homepage-section-portfolio{
  width: 100%;
  background: #717070;
  height: 100vh;
  rgb(89, 89, 89, 0.5)
  filter: alpha(opacity=60);
}

.homepage-section-portfolio .aboutme-p{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.homepage-section-contact{
  width: 100%;
  height: ;
}

.contactme-footer {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background-color: #1d242a;
  color: white;
  rgb(51, 51, 51, 0.9);
}
