body {
  font-family: sans-serif;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

p{
  text-shadow:1px 1px 1px black;
  filter: Shadow(Color=black, Direction=130, Strength=1);
  color: white;
  font-family: Lato;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

header{
  text-shadow:1px 1px 1px black;
  filter: Shadow(Color=black, Direction=130, Strength=1);
  color: white;
  font-size: 35px;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
}

li{
  text-shadow:1px 1px 1px black;
  filter: Shadow(Color=black, Direction=130, Strength=1);
  color: white;
  font-family: Lato;
  font-style: normal;
  font-variant: normal;
}

#nav{
  width: 100%;
  height: 85px;
  background: transparent;
  list-style-type: none;
  text-align: right;
  overflow: auto;
  align-items: center;
  position: fixed;

}

#nav a{
  display: inline-block;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  opacity: 1;
  color: #202020;
}

#nav a:hover {
    transition: 0.3s;
    opacity: 0.6;
    color: #f2f2f2;
}

#nav #logo {
  position: absolute;
  text-align: left;
  width: auto;
  align-self: flex-start;
  color: #4d4d4d;
  text-shadow: none;
}


#nav.shrink {
  height: 65px;
  width: 100%;
  transition: all ease .5s;
  background: #ada7aa;
}

#nav.shrink #logo {

  position: absolute;
  text-align: left;
  width: auto;
  align-self: flex-start;
  color: #4d4d4d;
}

.container{
  padding-top: 35vh;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  text-align: center;
  background-color: rgba(86,86,86,0.0);
}

.myName{
  padding-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 65px;
  font-weight: 700;
  font-family: Verdana, Geneva, sans-serif;

}

hr{
  border-width: 2px;
  width: 50px;
  max-width: 50px;

}

.contacts{
  padding-bottom: 50px;
  padding-top: 20px;
}

.favicon{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.favicon-link{
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.favicon:hover{
  filter: grayscale(100%);
}

.timeline{
  padding: 0px;
  font-size: 20px;
  color: white;
}

.jobtitle{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  text-align: center;
}

.btn{
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 50;
  padding: 15px 20px;
  background-color: #202020;
  text-decoration: none;
  text-shadow:0px 0px 0px black;
  filter: Shadow(Color=black, Direction=130, Strength=1);
  color: white;
  font-weight: 20;
}

.btn:hover{
  transition: 0.3s;
  background: #595959;
}


.homepage-section-aboutme{
  width: 100%;
  height: auto;
  padding-top: 75px;
  padding-bottom: 35px;
  text-align: center;
  background-color: #202020;
  display: block;
}


.profilepic{
  padding: 25px;
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  clear: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homepage-section-aboutme .name{
  text-align: center;
}

.profiledescription{
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin: auto;
  text-shadow: 0 0 0 black;

  }

.myskills-header{
  padding-top: 75px;
}

.skills{
  width: 100%;
  height: auto;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
  padding-bottom: 50px;
}

.skills-container{
  display: flex;
  align-items: flex-start;
  padding-top: 60px;
}

.skill-header{
  font-size: 25px;
  padding-top: 15px;
}

.favicon-img{
  width: 75px;
  height: 75px;
  padding-bottom: 15px;
}

.flex-container {
    display: block;
    text-align: center;
    width: 25%;
    padding: 0px;
}


.homepage-section-portfolio{
  display: inline-block;
  text-align: center;
  flex: wrap;
  width: 100%;
  height: auto;
  background: #202020;
  padding-top: 75px;
  padding-bottom: 50px;
}

.project-header{
  padding: 25px;
}

.project{
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 15px;
  overflow: hidden;
  height: 250px;
  width: 250px;
  max-width: 250px;
  max-height: 250px;
  margin:5px;
}

.description-layer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(89, 89, 89, .8);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: block;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
  border-radius: 25px;
  border-style: solid;
}

.description-layer p{
  text-align: center;

}

.project:hover .description-layer{
  visibility: visible;
  opacity: 1;
}


.project a{
  background-color: #333333;
  border-width: 1px;
  border-style: double;
  border-radius: 25px;
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white;
  margin-top: 15px;
  bor
}

.project a:hover {
    transition: 0.2s;
    opacity: 1;
    background: #262626;
}


.Crowdtour-link{
}

.crdimg{
  height: 250px;
  width: 250px;
  object-fit: none;
  object-position: 50% 0%;
  border-radius: 25px;
}

.snakeimg{
  height: 250px;
  width: 250px;
  object-fit: none;
  object-position: 50% 50%;
  border-radius: 25px;
}

.homepage-section-portfolio .aboutme-p{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.elements{
  background-color: #404040;
  border-width: 3px;
  border-color: black;
  display: inline-block;
  padding: 5px;
  text-shadow:1px 1px 1px black;
  font-family: Lato;
}

.footer{
  text-align: center;
  display: block;
  background: rgba(89, 89, 89, 0.3);
}

.footer p{
  margin: 0;
  background: #202020;
}
